@import "./_breakpoints";
html {
  font-family: $baseFont;
  position: relative;
}
body {
  background: $main-bg;
  color: $black;
}
main,
footer {
  &.no-scroll {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}
section:not(.lift, .listing-about, .dev-about, .blog-hero, .news-hero) {
  width: 100%;
  overflow-x: hidden;
}
.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;

  @include adaptive(desktopS) {
    padding: 0 40px;
  }
  @include adaptive(tabletLandscape, tabletPortrait) {
    padding: 0 70px;
  }
  @include adaptive(phoneLandscape, phonePortrait) {
    padding: 0 25px;
  }
}
.title {
  @include fontSetings($s: 45px, $w: 400, $lh: 63px);
  @include adaptive(tabletLandscape, tabletPortrait) {
    @include fontSetings($s: 40px, $w: 400, $lh: 63px);
  }
  @include adaptive(phoneLandscape, phonePortrait) {
    @include fontSetings($s: 30px, $w: 400, $lh: 42px);
  }
}
.w-100-arr {
  white-space: nowrap;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  padding: 13px 13px 13px 25px;
  background-color: $blue;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: $white;
  width: 100%;

  margin-top: 20px;
  &::after {
    content: url(../assets/imgs/Circle.svg);
    width: 25px;
    height: 25px;
  }
}
.w-ftc-arr {
  white-space: nowrap;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  padding: 13px 13px 13px 25px;
  background-color: $blue;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  color: $white;
  width: fit-content;

  &::after {
    content: url(../assets/imgs/Circle.svg);
    width: 25px;
    height: 25px;
  }
}
.blue-link {
  white-space: nowrap;

  @include fontSetings($w: 700, $lh: 19px);
  white-space: nowrap;
  padding: 13px 13px 13px 13px;
  border: 2px solid $blue;
  background-color: $blue;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: $white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.trans-link {
  @include fontSetings($w: 700, $lh: 19px);
  padding: 13px 13px 13px 13px;
  white-space: nowrap;
  background-color: transparent;
  color: $light-blue;
  border: 2px solid $light-blue;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.open-map {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3px;
  padding: 0 12px;
  white-space: nowrap;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(97, 199, 232, 0.6)),
      to(rgba(97, 199, 232, 0.6))
    ),
    url("../assets/imgs/open-map.png");
  background: -o-linear-gradient(
      bottom,
      rgba(97, 199, 232, 0.6),
      rgba(97, 199, 232, 0.6)
    ),
    url("../assets/imgs/open-map.png");
  background: linear-gradient(
      0deg,
      rgba(97, 199, 232, 0.6),
      rgba(97, 199, 232, 0.6)
    ),
    url("../assets/imgs/open-map.png");
  border: 1px solid $white;
  background-size: 90%;
  border-radius: 30px;
  color: $white;
  @include fontSetings($s: 10px, $w: 600);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  cursor: pointer;
  &::before {
    content: url("../assets/imgs/zoom-icon.svg");
    width: 18px;
    height: 18px;
  }
  &:hover {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(97, 199, 232, 1)),
        to(rgba(97, 199, 232, 1))
      ),
      url("../assets/imgs/open-map.png");
    background: -o-linear-gradient(
        bottom,
        rgba(97, 199, 232, 1),
        rgba(97, 199, 232, 1)
      ),
      url("../assets/imgs/open-map.png");
    background: linear-gradient(
        0deg,
        rgba(97, 199, 232, 1),
        rgba(97, 199, 232, 1)
      ),
      url("../assets/imgs/open-map.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

.pagination-section {
  margin: 0 auto;
  @include adaptive(phoneLandscape, phonePortrait) {
    width: 100%;
  }
  .pagination {
    &__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      .btn {
        cursor: pointer;
      }
      .prev {
        margin-right: 40px;
      }
      .next {
        margin-left: 40px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .page {
        width: 35px;
        height: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        @include fontSetings($s: 16px);

        color: $light-blue;
        &.active {
          background: $blue-background;
        }
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        display: none;
      }
    }
    .laod-more {
      display: none;
      border: none;
      outline: none;

      &::after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
  .info {
    margin-top: 20px;
    text-align: center;
    @include fontSetings();
    color: $grey;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #d0d5dd;
  &::after {
    content: url("../assets/imgs/checked.svg");
    display: none;
  }
  &:hover {
    border: 1px solid #b3e1f0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}
input[type="checkbox"]:checked {
  background-color: $blue;
  border: 1px solid $blue;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &::after {
    display: block;
  }
}
.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    img {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
