.footer {
  padding-top: 70px;
  background: $black;
  border-radius: 50px 50px 0 0;
  @include adaptive(
    tabletLandscape,
    tabletPortrait,
    phoneLandscape,
    phonePortrait
  ) {
    padding-top: 130px;
  }
  @include adaptive(phoneLandscape, phonePortrait) {
    border-radius: 20px 20px 0 0;
  }

  .container {
    position: relative;
    overflow-x: visible;
    @include adaptive(
      tabletLandscape,
      tabletPortrait,
      phoneLandscape,
      phonePortrait
    ) {
      overflow-x: visible;
    }
    .top {
      padding-bottom: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid $grey;
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      &__item {
        width: 25%;
        @include adaptive(tabletLandscape, tabletPortrait) {
          width: 50%;
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          width: 100%;
          margin-bottom: 25px;
        }
        &:nth-child(1) {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1;
          padding-top: 35px;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            display: flex;
            flex-direction: column;
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4;
          }
          @include adaptive(phoneLandscape, phonePortrait) {
            width: 100%;
            padding-top: 10px;
          }
        }
        &:nth-child(2) {
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3;
          }
        }
        &:nth-child(3) {
          -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
          order: 3;

          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
          }
        }
        &:nth-child(4) {
          -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
          order: 4;

          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
          }
        }

        .home {
          display: block;
          position: absolute;
          top: -10px;

          @include adaptive(tabletLandscape, tabletPortrait) {
            top: -70px;
            left: 70px;
          }
          @include adaptive(phoneLandscape, phonePortrait) {
            top: -60px;
            left: 20px;
          }
          img {
            width: 220px;
          }
        }
        .contact-btn {
          margin-bottom: 20px;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            order: 1;
          }
        }
        .address {
          color: $grey;
          @include fontSetings($lh: 21px);
          max-width: 200px;
          margin-bottom: 20px;
          @include adaptive(tabletLandscape, tabletPortrait) {
            order: 2;
          }
          @include adaptive(phoneLandscape, phonePortrait) {
            width: 100%;
            max-width: 100%;
            order: 2;
          }
        }
        .social {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: 10px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            order: 3;
          }
        }
        .list-title {
          @include fontSetings($s: 22px, $w: 600, $lh: 26px);
          color: $white;
          margin-bottom: 20px;
        }
        .list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          gap: 0px 50px;
          @include adaptive(phoneLandscape, phonePortrait) {
            gap: 0px;
          }
          &__item {
            width: 50%;
            margin-bottom: 10px;
            max-width: 105px;
            @include adaptive(tabletLandscape, tabletPortrait) {
              max-width: calc(50% - 50px);
            }
            @include adaptive(phoneLandscape, phonePortrait) {
              max-width: calc(50%);
            }

            a {
              @include fontSetings($lh: 20px);
              width: 105px;
              color: $grey;
              transition: 0.3s;
              &:hover {
                color: $white;
                transition: 0.3s;
              }
              @include adaptive(phoneLandscape, phonePortrait) {
                display: block;
                width: 100%;
              }
            }
          }
        }
      }
    }
    .bot {
      padding: 25px 0 30px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @include adaptive(tabletLandscape, tabletPortrait) {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: start;
      }

      .copywrite {
        color: $grey;
        @include fontSetings($lh: 20px);
        @include adaptive(tabletLandscape, tabletPortrait) {
          width: 195px;
        }
      }
      .policy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 80px;
        &__item {
          @include fontSetings($lh: 20px);
          color: $grey;
          text-decoration: underline;
          @include adaptive(tabletLandscape, tabletPortrait) {
            white-space: nowrap;
          }
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          gap: 0px;
          width: 100%;
          margin-top: 10px;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
      }
    }
  }
}
