.info-hero {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    @include adaptive(
      tabletLandscape,
      tabletPortrait,
      phoneLandscape,
      phonePortrait
    ) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

    }
    &__item {
      width: 50%;
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        width: 100%;
      }
      &:nth-child(2) {
        background-color: $white;
        padding: 25px;
        position: relative;
        border-radius: 20px;
      }
      .bread-crums {
        margin-bottom: 40px;
      }
      .title {
        max-width: 330px;
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          max-width: 100%;
        }
        @include adaptive(tabletLandscape, tabletPortrait) {
          margin-bottom: 30px;
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          margin-bottom: 15px;
        }
      }
      .sub-titile {
        z-index: 2;
        position: relative;
        @include fontSetings($s: 30px, $w: 400, $lh: 39px);
        color: $light-blue;
        max-width: 360px;
        margin-bottom: 20px;
        @include adaptive(phoneLandscape, phonePortrait) {
          @include fontSetings($s: 22px, $w: 400, $lh: 29px);
        }
      }
      .descr {
        @include fontSetings($s: 12px, $w: 400, $lh: 18px);
        max-width: 300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: $grey;
        z-index: 2;
        position: relative;

        &::before {
          content: url("../assets/imgs/circle-solid.svg");
          width: 20px;
          height: 20px;
          margin-right: 15px;
        }
      }
      .dec {
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        z-index: 1;
        @include adaptive(phoneLandscape, phonePortrait) {
          opacity: 0.3;
        }
      }
    }
  }