.listing-hero {
  width: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  padding-bottom: 80px;
  @include adaptive(tabletLandscape, tabletPortrait) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  @include adaptive(phoneLandscape, phonePortrait) {
    padding: 0;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @include adaptive(
      tabletLandscape,
      tabletPortrait,
      phoneLandscape,
      phonePortrait
    ) {
      flex-direction: column;
      flex-direction: column-reverse;
    }
    @include adaptive(phoneLandscape, phonePortrait) {
      padding: 0;
    }
    .bread-crums {
      width: 100%;
      -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
      transform: translateY(30px);

      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        transform: translateY(0px);
      }
      @include adaptive(tabletLandscape, tabletPortrait) {
        order: 1;
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        order: 2;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        z-index: 4;
        padding: 30px 25px 0 25px;
      }
    }
    .content-item {
      width: 55%;
      position: relative;
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        width: 100%;
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        order: 3;
        display: flex;
        flex-direction: column;
      }

      &:nth-child(2) {
        width: 45%;
        padding-top: 65px;
        padding-right: 70px;
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          width: 100%;
          padding-top: 40px;
          padding-right: 0px;
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          order: 1;
          display: flex;
          flex-direction: column;
          padding: 0px 25px 0 25px;
          border-radius: 20px;
          background-color: $main-bg;
          position: relative;
          top: 0px;
          z-index: 3;
        }
      }

      .deskr {
        @include fontSetings($s: 12px, $lh: 18px);
        color: $grey;
        margin-bottom: 10px;
        display: block;
      }
      .title {
        margin-bottom: 10px;
        @include fontSetings($s: 30px, $lh: 42px);
      }
      .price {
        @include fontSetings($s: 20px, $lh: 28px);
        color: $blue;
        padding-bottom: 15px;
        border-bottom: 1px solid $blue;
        margin-bottom: 20px;
        .sqft {
          color: $grey;
          @include fontSetings();
        }
      }
      .characteristic {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 10px;
        @include adaptive(tabletLandscape, tabletPortrait) {
          width: 100%;
          position: relative;
        }
        &__item {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          @include adaptive(tabletLandscape, tabletPortrait) {
            width: 70%;
          }
          -webkit-box-align: center;

          -ms-flex-align: center;

          align-items: center;
          @include fontSetings();
          .grey {
            color: $grey;
            width: 50%;
            @include fontSetings();
            @include adaptive(phoneLandscape, phonePortrait) {
              width: 40%;
            }
          }
          .blue {
            color: $blue;
            width: 50%;
            @include fontSetings($w: 600);
            @include adaptive(phoneLandscape, phonePortrait) {
              width: 60%;
            }
          }
          .map {
            width: 50%;
            @include adaptive(phoneLandscape, phonePortrait) {
              width: 40%;
            }
            img {
              width: 90px;
              height: 40px;
              border-radius: 10px;
              border: 1px solid $white;
            }
          }
          &.geo {
            .tablet-map {
              display: none;
              @include adaptive(tabletLandscape, tabletPortrait) {
                display: block;
                border-radius: 10px;
                border: 1px solid $white;
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
            @include adaptive(tabletLandscape) {
              position: absolute;
              right: 0%;
              width: 40%;
              height: 100%;
              flex-direction: column;

              .map {
                @include adaptive(tabletLandscape, tabletPortrait) {
                  display: none;
                }
              }
            }
            @include adaptive(tabletPortrait) {
              position: absolute;
              right: 0%;
              width: 35%;
              height: 100%;
              flex-direction: column;

              .map {
                @include adaptive(tabletLandscape, tabletPortrait) {
                  display: none;
                }
              }
            }
            .blue {
              @include adaptive(tabletLandscape, tabletPortrait) {
                position: absolute;
                display: flex;
                gap: 5px;
                align-items: center;
                white-space: nowrap;
                width: fit-content;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                background: $white;
                border-radius: 20px;
                padding: 5px 10px;
                color: $grey;
                &::before {
                  content: url("../assets/imgs/pin-grey.svg");
                  width: 16px;
                  height: 16px;
                  display: block;
                }
              }
            }
          }
        }
        .btns {
          margin-top: 15px;
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: 15px;
          @include adaptive(tabletLandscape, tabletPortrait) {
            display: none;
          }
          @include adaptive(phoneLandscape, phonePortrait) {
            display: none;
          }
          .btn {
            white-space: nowrap;
            width: 40%;
            @include fontSetings($w: 700, $lh: 19px);
            padding: 18px 0;

            background-color: $light-blue;
            border-radius: 60px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: center;
            color: $white;

            margin-top: 20px;
            @include adaptive(phoneLandscape, phonePortrait) {
              width: 100%;
              justify-content: center;
              margin-top: 0;
            }
            &.download {
              gap: 15px;
              &::after {
                content: url(../assets/imgs/download.svg);
                width: 30px;
                height: 30px;
                @include adaptive(phoneLandscape, phonePortrait) {
                  content: url(../assets/imgs/download-small.svg);
                  width: 15px;
                  height: 15px;
                }
              }
            }
            &.whats-up {
              background: #62d53a;
            }
          }
        }
      }

      .controls {
        z-index: 2;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(2.5px);
        backdrop-filter: blur(2.5px);
        border-radius: 50%;
        border: none;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &.next {
          right: 10px;
        }
        &.prev {
          left: 10px;
          img {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }

      .info {
        z-index: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 5px;
        position: absolute;
        top: 15px;
        left: 15px;
        @include adaptive(phoneLandscape, phonePortrait) {
          top: auto;
          bottom: 30px;
          left: 15px;
        }
        &__item {
          color: $grey;
          cursor: pointer;
          background-color: $white;
          padding: 7px 10px 7px 15px;
          border-radius: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          gap: 5px;
          @include fontSetings($w: 500);
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            height: 40px;
          }
          &.total {
            &::before {
              content: url("../assets/imgs/picture.svg");
              width: 24px;
              height: 17px;
            }
          }
          &.visual-tour {
            &::before {
              content: url("../assets/imgs/tour.svg");
              width: 24px;
              height: 24px;
            }
          }
          &:hover {
            background-color: $light-blue;
            color: $white;
            transition: 0.3s;
            &::before {
              filter: brightness(3);
              transition: 0.3s;
            }
          }
        }

        .tolal {
        }
      }

      .listing-slider {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .swiper-wrapper {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 100%;

          .listing-slide {
            border-radius: 30px;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            @include adaptive(phoneLandscape, phonePortrait) {
              border-radius: 0px;
              height: 500px;
            }
            img {
              border-radius: 30px;
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
              @include adaptive(phoneLandscape, phonePortrait) {
                border-radius: 0px;
              }
            }
          }
        }
      }
    }
  }
}

.listing-about {
  @include adaptive(
    tabletLandscape,
    tabletPortrait,
    phoneLandscape,
    phonePortrait
  ) {
    overflow-x: hidden;
  }

  .container {
    display: flex;
    @include adaptive(
      tabletLandscape,
      tabletPortrait,
      phoneLandscape,
      phonePortrait
    ) {
      flex-direction: column-reverse;
    }

    .wrapper {
      width: 65%;
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        width: 100%;
      }

      .title {
        @include fontSetings($s: 40px, $lh: 56px);
        margin-bottom: 20px;
        @include adaptive(phoneLandscape, phonePortrait) {
          @include fontSetings($s: 30px, $lh: 42px);
        }
      }
      .pagaraf {
        color: $grey;
        @include fontSetings();
        margin-bottom: 20px;
      }
      .list-title {
        width: 50%;
        color: $blue;
        @include fontSetings($s: 20px, $lh: 28px, $w: 600);
        padding-bottom: 10px;
        position: relative;
        @include adaptive(phoneLandscape, phonePortrait) {
          width: 100%;
        }
        &::before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: $blue;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .list {
        width: 100%;
        display: flex;
        gap: 0 40px;
        flex-wrap: wrap;
        margin-bottom: 25px;
        &__item {
          padding: 10px 10px;
          width: calc(50% - 20px);
          color: $grey;
          @include fontSetings($w: 600);
          border-radius: 5px;
          @include adaptive(phoneLandscape, phonePortrait) {
            width: 100%;
          }
          &::before {
            content: "- ";
          }
          &:nth-child(4n + 3) {
            background-color: $blue-background;
            @include adaptive(phoneLandscape, phonePortrait) {
              background-color: transparent;
            }
          }
          &:nth-child(4n + 4) {
            background-color: $blue-background;
          }
          &:nth-child(2n + 2) {
            @include adaptive(phoneLandscape, phonePortrait) {
              background-color: $blue-background;
            }
          }
        }
      }
      .price {
        @include fontSetings($s: 20px, $lh: 28px);
        color: $blue;
        padding-bottom: 15px;
        border-bottom: 1px solid $blue;
        margin-bottom: 20px;
        .sqft {
          color: $grey;
          @include fontSetings();
        }
      }
      .table {
        width: 100%;
        margin-bottom: 70px;
        tr {
          margin-bottom: 10px;
          display: flex;
          flex-wrap: wrap;
          @include adaptive(phoneLandscape, phonePortrait) {
            margin-bottom: 0px;
          }
        }
        td {
          width: 20%;
          @include fontSetings();
          color: $grey;
          @include adaptive(phoneLandscape, phonePortrait) {
            width: 50%;
            margin-bottom: 5px;
          }
          &:nth-child(2n + 2) {
            width: 30%;
            color: $blue;
            @include fontSetings($w: 600);
            @include adaptive(phoneLandscape, phonePortrait) {
              width: 50%;
            }
          }
        }
      }
      .features {
        display: flex;
        gap: 20px;
        margin-bottom: 75px;
        @include adaptive(tabletLandscape, tabletPortrait) {
          border: none;
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          flex-wrap: wrap;
          margin-bottom: 50px;
        }

        &__item {
          width: calc(33.333% - 20px);
          color: $light-blue;
          padding: 20px;
          border: 1px solid $light-blue;
          border-radius: 20px;
          height: fit-content;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            border: none;
          }
          @include adaptive(phoneLandscape, phonePortrait) {
            width: calc(50% - 10px);
            padding: 0px;
          }
          &:nth-child(2) {
            color: $white;
            background-color: $light-blue;
            @include adaptive(
              tabletLandscape,
              tabletPortrait,
              phoneLandscape,
              phonePortrait
            ) {
              background-color: transparent;
              color: $light-blue;
            }
            .type {
              border: 1px solid $white;
              @include adaptive(
                tabletLandscape,
                tabletPortrait,
                phoneLandscape,
                phonePortrait
              ) {
                border: 1px solid $light-blue;
              }
            }
          }
          &:nth-child(3) {
            color: $white;
            background-color: $blue;
            @include adaptive(
              tabletLandscape,
              tabletPortrait,
              phoneLandscape,
              phonePortrait
            ) {
              background-color: transparent;
              color: $light-blue;
            }
            .type {
              border: 1px solid $white;
              @include adaptive(
                tabletLandscape,
                tabletPortrait,
                phoneLandscape,
                phonePortrait
              ) {
                border: 1px solid $light-blue;
              }
            }
          }
          .type {
            @include fontSetings($s: 12px);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 70px;
            border: 1px solid $light-blue;
            border-radius: 30px;
            text-align: center;
            margin-bottom: 20px;
          }
          &__list {
            @include fontSetings();
            &__item {
              margin-bottom: 5px;

              &::before {
                content: "- ";
              }
              &:nth-last-child(1) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .sub-title {
        @include fontSetings($s: 25px, $lh: 35px);
        margin-bottom: 25px;
      }
      .media {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 75px;
        .delimiter {
          @include fontSetings();
          color: $grey;
          text-transform: uppercase;
        }
        &__item {
          padding: 9px;
          background: $white;
          border-radius: 20px;
          display: flex;
        }
        .share {
          gap: 5px;
          cursor: pointer;
          .url {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            padding: 0 5px;
            @include fontSetings();
            border-left: 1px solid #bfbfbf;
            border-right: 1px solid #bfbfbf;
            background: linear-gradient(
              90.32deg,
              #6d6d6d 68.57%,
              rgba(109, 109, 109, 0) 103.2%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          .btn {
            border: none;
            outline: none;
            @include fontSetings();
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            &.share {
              color: $grey;
              &::before {
                content: url("../assets/imgs/share.svg");
              }
            }
            &.copy {
              color: $blue;
              &::before {
                content: url("../assets/imgs/copy.svg");
              }
            }
          }
        }
        .social {
          gap: 8px;
        }
      }
    }
    .scroll {
      width: 35%;
      padding-left: 20px;
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        width: 100%;
        padding-left: 0px;
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        border-top: 1px solid $light-grey;
      }
      .scroll-block {
        position: sticky;
        top: 50px;
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          display: flex;
          position: relative;
          top: 0;
          gap: 20px;
        }
        .anchor-list {
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          margin-bottom: 10px;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            display: none;
          }
          &__item {
            padding: 5px 10px;
            background-color: $white;
            border-radius: 30px;
            display: flex;
            justify-content: center;

            a {
              color: $grey;
              @include fontSetings($s: 12px, $lh: 18px);
            }
          }
        }
      }
      .manager {
        padding: 25px 20px 20px 20px;
        background-color: $white;
        border-radius: 15px;
        @include adaptive(tabletLandscape, tabletPortrait) {
          width: 50%;
          background-color: transparent;
          padding: 0;
          padding-bottom: 50px;
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          width: 100%;
          background-color: transparent;
          padding-bottom: 40px;
        }
        &__title {
          @include fontSetings($s: 25px, $lh: 35px);
          margin-bottom: 15px;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            display: none;
          }
        }
        .price {
          @include fontSetings($s: 20px, $lh: 28px);
          color: $blue;
          padding-bottom: 15px;
          border-bottom: 1px solid $light-grey;
          margin-bottom: 20px;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            display: none;
          }
          .sqft {
            color: $grey;
            @include fontSetings();
          }
        }

        &__card {
          display: flex;
          gap: 15px;
          margin-top: 10px;

          .img-wrap {
            min-width: 90px;
            min-height: 90px;
            border: 1px solid $white;
            border-radius: 10px;
            background-color: $blue-background;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .info {
            .deskr {
              @include fontSetings($s: 10px, $lh: 15px);
              color: $grey;
              margin-bottom: 5px;
            }
            .name {
              @include fontSetings($s: 18px, $lh: 25px);
              margin-bottom: 5px;
            }

            .stars {
              display: flex;
              align-items: center;
              .rating-value {
                margin-left: 10px;
                @include fontSetings($s: 12px, $lh: 14px);
                color: $grey;
              }
            }
            .req {
              @include fontSetings($s: 12px, $lh: 14px);
              color: $grey;
            }
          }
        }
        &__links {
          width: 100%;
          display: flex;
          gap: 8px;
          &__item {
            margin-top: 20px;
            width: calc(50% - 4px);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            color: $white;
            border-radius: 60px;
            background-color: $light-blue;
            &.wa {
              background-color: #62d53a;
            }
          }
        }
      }
      .card {
        width: 100%;
        margin-top: 10px;
        @include adaptive(tabletLandscape, tabletPortrait) {
          width: 50%;
          margin-top: 0px;
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          display: none;
        }
        .img-wrap {
          width: 100%;
          height: 200px;
          @include adaptive(tabletLandscape, tabletPortrait) {
            height: 100px;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 15px;
          object-fit: cover;
        }
      }
      .link-to {
        @include fontSetings();
        color: $white;
        background-color: $blue;
        padding: 10px 10px 10px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        margin-top: 10px;
        &::after {
          content: url(../assets/imgs/circle-small.svg);
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
.big-slide {
  position: relative;
  padding-bottom: 80px;
  width: 100%;
  overflow-x: hidden;
  .gradient {
    @include adaptive(
      tabletLandscape,
      tabletPortrait,
      phoneLandscape,
      phonePortrait
    ) {
      display: none;
    }
  }
  .pagination {
    display: none;
    flex-direction: column;
    align-items: center;
    @include adaptive(phoneLandscape, phonePortrait) {
      display: flex;
    }
    .laod-more {
      border: none;
      outline: none;
      margin-bottom: 10px;
    }
    .info {
      color: $grey;
      @include fontSetings($s: 12px);
    }
  }
  .container {
    .slider-control {
      @include adaptive(phoneLandscape, phonePortrait) {
        display: none;
      }
    }
    // .big-type-banner {

    //   width: calc(50% - 10px);
    //   @include adaptive( tabletLandscape, tabletPortrait) {
    //     width: 300px !important;

    //     flex-shrink: 0;
    //   }
    //   @include adaptive(phoneLandscape, phonePortrait) {
    //   width: 100%;
    //   }
    // }
    // .swiper-initialized {
    //   .slides-wrap {
    //     display: flex;
    //     flex-wrap: nowrap;
    //     width: 100%;

    //     .slide-beach,
    //     .slide-palm, .slide-similar {
    //       width: 355px !important;
    //       -ms-flex-negative: 0;
    //       flex-shrink: 0;

    //       // @include adaptive( tabletLandscape, tabletPortrait) {
    //       //   width: calc(50% - 10px);

    //       //  }
    //       //  @include adaptive(  phoneLandscape, phonePortrait) {
    //       //   width: 100%;

    //       //  }

    //       &__imgs {
    //         display: -webkit-box;
    //         display: -ms-flexbox;
    //         display: flex;
    //         -ms-flex-wrap: wrap;
    //         flex-wrap: wrap;
    //         position: relative;
    //         gap: 4px;

    //         .type {
    //           position: absolute;
    //           left: 15px;
    //           top: 15px;
    //           color: $blue;
    //           background-color: $white;
    //           border-radius: 20px;
    //           padding: 3px 10px;
    //           @include fontSetings($s: 12px);
    //         }

    //         &__img {
    //           width: calc(50% - 2px);
    //           transition: 0.3s;
    //           &.big {
    //             width: 100%;
    //             img {
    //               border-radius: 20px 20px 0px 0px;
    //             }
    //           }
    //           &.left {
    //             img {
    //               border-radius: 0px 10px 10px 0px;
    //             }
    //           }
    //           &.right {
    //             position: relative;
    //             img {
    //               border-radius: 10px 0px 0px 10px;
    //             }
    //           }
    //           img {
    //             width: 100%;
    //             height: 100%;
    //             object-fit: cover;
    //           }
    //         }
    //       }
    //       &__info {
    //         padding: 20px 10px 20px 20px;
    //         .price {
    //           padding: 0;
    //           @include fontSetings($s: 25px, $lh: 35px, $w: 700);
    //         }
    //         .dev-loc {
    //           padding-bottom: 10px;
    //           position: relative;
    //           margin-bottom: 15px;
    //           @include fontSetings();

    //           &::before {
    //             content: "";
    //             height: 1px;
    //             width: 140px;
    //             background-color: $light-blue;
    //             display: block;
    //             position: absolute;
    //             bottom: 0;
    //             left: 0;
    //           }
    //         }
    //         .characteristics {
    //           display: -webkit-box;
    //           display: -ms-flexbox;
    //           display: flex;
    //           margin-bottom: 25px;
    //           @include adaptive(tabletLandscape, tabletPortrait) {
    //             -ms-flex-wrap: wrap;
    //             flex-wrap: wrap;
    //             gap: 15px 0;
    //           }
    //           &__item {
    //             display: -webkit-box;
    //             display: -ms-flexbox;
    //             display: flex;
    //             -webkit-box-align: center;
    //             -ms-flex-align: center;
    //             align-items: center;
    //             gap: 5px;
    //             @include fontSetings($s: 12px, $lh: 18px, $w: 400);
    //             color: $grey;

    //             &:nth-child(1) {
    //               padding-right: 10px;
    //               border-right: 1px solid #e7e7e7;
    //             }
    //             &:nth-child(2) {
    //               padding: 0 10px;
    //               border-right: 1px solid #e7e7e7;
    //             }
    //             &:nth-child(3) {
    //               padding-left: 10px;
    //               @include adaptive(tabletLandscape, tabletPortrait) {
    //                 padding-left: 0px;
    //               }
    //             }
    //           }
    //         }
    //         .geo {
    //           @include fontSetings($s: 12px, $lh: 18px, $w: 400);
    //           color: $grey;
    //           display: -webkit-box;
    //           display: -ms-flexbox;
    //           display: flex;
    //           -webkit-box-align: center;
    //           -ms-flex-align: center;
    //           align-items: center;
    //           gap: 5px;
    //           margin-bottom: 20px;
    //           &::before {
    //             content: url("../assets/imgs/pin.svg");
    //           }
    //         }
    //         .card-links {
    //           display: -webkit-box;
    //           display: -ms-flexbox;
    //           display: flex;
    //           gap: 10px;
    //           -webkit-box-align: center;
    //           -ms-flex-align: center;
    //           align-items: center;
    //           .contact-btn {
    //             height: 45px;
    //             width: 50%;
    //           }
    //           .learn-more {
    //             color: $blue;
    //             @include fontSetings($w: 700);
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
    // .slides-wrap {
    //   width: 100%;
    //   display: flex;
    //   gap: 10px;
    //   flex-wrap: wrap;
    //   .slide-region {
    //     background-color: $white;
    //     width: calc(50% - 10px) !important;
    //     -ms-flex-negative: 0;
    //     flex-shrink: 0;
    //     border-radius: 20px;
    //     @include adaptive(phoneLandscape, phonePortrait) {
    //       width: 100% !important;
    //     }
    //   }
    // }
  }
}
.contact-form {
  .container {
    display: flex;

    overflow: hidden;
    .content-item {
      width: 50%;

      position: relative;
      background-color: $white;
      padding: 40px;
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        transform: translateX(0%);
        overflow: hidden;
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        width: 100%;
      }
      .form-title {
        @include fontSetings($s: 30px, $w: 600, $lh: 42px);
      }
      .deskr {
        @include fontSetings($s: 12px, $lh: 18px);
        color: $grey;
        margin-bottom: 20px;
      }
      .manager {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-35%);
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          transform: translateX(0%);
        }
      }
      &:nth-child(1) {
        border-radius: 20px 0 0 20px;
        position: relative;
        @include adaptive(tabletLandscape, tabletPortrait) {
          width: 70%;
        }
      }
      &:nth-child(2) {
        border-radius: 0 20px 20px 0;
        background-color: $blue-background;
        background-image: url("../assets/imgs/flip.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        @include adaptive(tabletLandscape, tabletPortrait) {
          width: 30%;
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          display: none;
        }
      }
      .logo {
        width: 220px;
        height: 25px;
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          display: none;
        }
      }
      .manager-contact {
        display: flex;
        flex-direction: column;
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          display: none;
        }
        .name {
          @include fontSetings($s: 25px, $lh: 35px);
          margin-bottom: 7px;
          color: $blue;
          max-width: 216px;
        }
        .position {
          @include fontSetings();
          margin-bottom: 20px;
          max-width: 225px;
          color: $grey;
        }
        .link {
          @include fontSetings();
          color: $blue;
          text-decoration: underline;
        }
      }
      .form {
        padding: 0;
        background-color: $white;
        .input-wrap {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-bottom: 15px;
          gap: 5px;
          label {
            @include fontSetings($w: 500);
          }
          .input {
            background-color: $white;
            -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border: 1px solid #d0d5dd;
            border-radius: 30px;
            width: 80%;
            @include fontSetings();
            color: $grey;
            padding: 10px 14px;

            @include adaptive(
              tabletLandscape,
              tabletPortrait,
              phoneLandscape,
              phonePortrait
            ) {
              width: 100%;
            }
          }
        }
        .check-wrap {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          gap: 10px;
          input {
            width: 20px;
            height: 20px;
          }
          .check-label {
            @include fontSetings($s: 12px, $lh: 22px);
            color: $grey;
            a {
              color: $grey;
            }
          }
        }
        .submit {
          cursor: pointer;
          width: fit-content;
          gap: 20px;
          border: none;
          outline: none;
        }
      }
    }
  }
}
