.price {
  padding-bottom: 120px;
  @include adaptive(
    tabletLandscape,
    tabletPortrait,
    phoneLandscape,
    phonePortrait
  ) {
    padding-bottom: 100px;
  }
  .container {
    .content-wrap {
      padding: 35px;
      background-color: $white;
      border-radius: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 70px;

      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        padding: 20px;
        gap: 0px;
      }

      .row {
        width: 100%;

        &.grid {
          display: grid;
          gap: 10px;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            gap: 40px 0px;
          }
          grid-template-columns: 37% 13% 37% 11%;
          grid-template-rows: repeat(3, auto);
          .img {
            grid-column: 1 / 3;
            grid-row: 1 / -1;
            @include adaptive(tabletLandscape, tabletPortrait) {
              grid-column: 1 / -1;
              grid-row: 3 / 4;
              max-height: 530px;
            }
            @include adaptive(phoneLandscape, phonePortrait) {
              grid-column: 1 / -1;
              grid-row: 3 / 4;
              max-height: 310px;
            }
          }
          .list {
            grid-column: 3 / -1;
            grid-row: 1 / 3;
            @include adaptive(
              tabletLandscape,
              tabletPortrait,
              phoneLandscape,
              phonePortrait
            ) {
              grid-column: 1 / -1;
              grid-row: 1 / 3;
            }
          }
          .roi {
            grid-column: 3 / -1;
            @include adaptive(
              tabletLandscape,
              tabletPortrait,
              phoneLandscape,
              phonePortrait
            ) {
              grid-column: 1 / -1;
            }
          }
          .item-title {
            @include fontSetings($s: 40px, $lh: 56px);
            margin-bottom: 35px;

            grid-column: 1 / 2;
            grid-row: 1;
            @include adaptive(
              tabletLandscape,
              tabletPortrait,
              phoneLandscape,
              phonePortrait
            ) {
              grid-column: 1 / 4;
              grid-row: 1;
            }
          }

          &:nth-child(1) {
            .list {
              grid-column: 1 / 2;
              grid-row: 2/ 4;
              @include adaptive(
                tabletLandscape,
                tabletPortrait,
                phoneLandscape,
                phonePortrait
              ) {
                grid-column: 1 / -1;
                grid-row: 4 / -1;
              }
            }
            .diagram {
              grid-column: 2 / -1;
              grid-row: 1/ -1;
              @include adaptive(
                tabletLandscape,
                tabletPortrait,
                phoneLandscape,
                phonePortrait
              ) {
                grid-column: 1 / -1;
                grid-row: 2 / 4;
              }
            }
          }
        }

        .list {
          &__item {
            @include fontSetings();
            margin-bottom: 5px;
            padding: 15px 20px 15px 45px;
            border-radius: 10px;
            color: $grey;
            position: relative;
            &:nth-child(odd) {
              background-color: $light-blue-bg;
            }
            &::before {
              content: url("../assets/imgs/tick.svg");
              position: absolute;
              display: block;
              width: 20px;
              height: 20px;
              left: 15px;
              top: 20px;
            }
          }
        }
        .content-item {
          width: 50%;
        }
        .diagram {
          position: relative;
          padding-bottom: 20px;
          padding-left: 40px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: 15px;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: end;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            min-height: 460px;
          }
          @include adaptive(phoneLandscape, phonePortrait) {
            min-height: 250px;
            gap: 7px;
            padding-bottom: 20px;
            padding-left: 15px;
          }

          &::after {
            content: "";
            height: 101%;
            width: 1px;
            display: block;
            position: absolute;
            border: 1px dashed $light-grey;
            left: 25px;
            top: 0;
            @include adaptive(phoneLandscape, phonePortrait) {
              left: 10px;
            }
          }
          &::before {
            content: "";
            height: 1px;
            width: 100%;
            display: block;
            position: absolute;
            border: 1px dashed $light-grey;
            bottom: 20px;
            left: 0;
          }
          &__item {
            width: 10%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            @include adaptive(phoneLandscape, phonePortrait) {
              width: 11%;
            }
            .price-val {
              @include fontSetings($s: 12px, $lh: 16px);
              white-space: nowrap;
              @include adaptive(phoneLandscape, phonePortrait) {
                @include fontSetings($s: 5px, $lh: 8px);
              }
              color: $grey;
              &.blue {
                color: $blue;
              }
            }
            .scale {
              width: 95%;
              border-radius: 10px;
              background-color: $blue-background;
              margin-top: 5px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: end;
              -ms-flex-align: end;
              align-items: flex-end;
              padding-bottom: 30px;
              @include adaptive(phoneLandscape, phonePortrait) {
                padding-bottom: 10px;
              }
              &__info {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 5px;
                @include adaptive(phoneLandscape, phonePortrait) {
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  gap: 1px;
                }
                .conut {
                  color: $blue;
                  @include fontSetings($s: 16px, $lh: 24px);
                  @include adaptive(phoneLandscape, phonePortrait) {
                    @include fontSetings($s: 7px, $lh: 11px);
                  }
                }
                img {
                  @include adaptive(phoneLandscape, phonePortrait) {
                    -webkit-transform: scale(0.75);
                    -ms-transform: scale(0.75);
                    transform: scale(0.75);
                  }
                }
              }
              &.height-1 {
                height: 17%;
              }
              &.height-2 {
                height: 30%;
              }
              &.height-3 {
                height: 35%;
              }
              &.height-4 {
                height: 42%;
              }
              &.height-5 {
                height: 54%;
              }
              &.height-6 {
                height: 64%;
              }
              &.height-7 {
                height: 82%;
              }
              &.height-8 {
                height: 100%;
              }
            }
            .name {
              position: absolute;
              bottom: -25px;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              @include fontSetings($s: 12px, $lh: 18px);
              white-space: nowrap;
              color: $grey;
              @include adaptive(phoneLandscape, phonePortrait) {
                @include fontSetings($s: 6px, $lh: 8px);
                bottom: -18px;
              }
            }
          }
        }
        .img {
          border-radius: 20px;
          width: 95%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 20px;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            width: 100%;
          }
        }
        .roi {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: 15px;
          @include adaptive(phoneLandscape, phonePortrait) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
          }
          &__item {
            width: 50%;
            padding: 20px;
            border: 2px solid $light-blue;
            border-radius: 20px;
            background-color: $white;
            @include adaptive(phoneLandscape, phonePortrait) {
              width: 100%;
            }
            &.blue {
              background-color: $light-blue;
              .roi__item__type {
                border: 1px solid $white;
                color: $white;
              }
              .roi__item__title {
                color: $white;
              }
              .roi__item__deskr {
                color: $white;
              }
            }
            &__type {
              @include fontSetings($s: 12px, $lh: 18px);
              border: 1px solid $blue;
              border-radius: 30px;
              padding: 4px 14px;
              color: $blue;
              margin-bottom: 40px;
              display: block;
              width: -webkit-fit-content;
              width: -moz-fit-content;
              width: fit-content;
            }
            &__title {
              @include fontSetings($s: 30px, $w: 600, $lh: 36px);
              color: $black;
              margin-bottom: 10px;
            }
            &__deskr {
              @include fontSetings($s: 12px, $w: 400, $lh: 18px);
              color: $grey;
            }
          }
        }
      }
    }
  }
}
