.slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  .contols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 25px;
    .colapse {
      background-color: $blue-background;
      border: none;
      cursor: pointer;
      outline: none;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      gap: 3px;
      overflow: hidden;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      padding: 5px;
      .square {
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid $blue;
        -ms-flex-negative: 0;
        flex-shrink: 0;
      }
      &.tile {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
      &:hover {
        background-color: $blue;
        .square {
          border: 2px solid $white;
        }
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        display: none;
      }
    }
    .slide-control {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}
.next-slide {
  height: 40px;
  cursor: pointer;
  width: 35px;
  border-radius: 0px 20px 20px 0px;

  border: none;
  outline: none;
  background: $blue-background;
  font-size: 0;
  margin: 0;
  padding: 0;
  &::before {
    content: url("../assets/imgs/btn-arr.svg");

    display: block;
  }
  &:disabled {
    opacity: 0.5;
  }
}
.prev-slide {
  cursor: pointer;
  height: 40px;
  width: 35px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  background: $blue-background;
  font-size: 0;
  margin: 0;
  padding: 0;
  &::before {
    content: url("../assets/imgs/btn-arr.svg");
    display: block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  &:disabled {
    opacity: 0.5;
  }
}
