$blue: #00ADE5;
$light-blue:#61C7E8;
$blue-background:#CEEBF4;
$black:#1C1C1C;
$grey:#6D6D6D;
$light-grey:#DCDCDC;
$med-grey:#B7B7B7;
$border-grey:#BFBFBF;
$slide-grey:#9A9A9A;
$main-bg:#F4F4F6;
$white:#FFFFFF;
$select-hover:#DAF3FC;
$baseFont:'Manrope', sans-serif;
@mixin fontSetings($s:14px, $w:400, $lh:22px){
    font-family: $baseFont;
    font-size: $s;
    font-weight: $w;
    line-height: $lh;
}
.contact-btn {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00ade5;
    border-radius: 30px;
    padding: 0 7px 0 15px;
    gap: 15px;
    color: $white;
    @include fontSetings($w: 600);
    width: fit-content;

    &::after {
      content: url("../assets/imgs/phone.svg");
      width: 23px;
      height: 23px;
    }
  }