$blue: #00ade5;
$light-blue: #61c7e8;
$blue-background: #ceebf4;
$black: #1c1c1c;
$grey: #6d6d6d;
$light-grey: #dcdcdc;
$med-grey: #b7b7b7;
$border-grey: #bfbfbf;
$slide-grey: #9a9a9a;
$main-bg: #f4f4f6;
$white: #ffffff;
$select-hover: #daf3fc;
$baseFont: "Manrope", sans-serif;
@mixin fontSetings($s: 14px, $w: 400, $lh: 22px) {
  font-family: $baseFont;
  font-size: $s;
  font-weight: $w;
  line-height: $lh;
}
.contact-btn {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue;
  border-radius: 30px;
  padding: 0 7px 0 15px;
  gap: 15px;
  color: $white;
  @include fontSetings($w: 600);
  width: fit-content;

  &::after {
    content: url("../assets/imgs/phone.svg");
    width: 23px;
    height: 23px;
  }
}
